= form_for @discussion do |f|
  %p
    = raw('<h3> Сообщение пользователю ' + current_user.name + '</h3>')
    %br
    = hidden_field_tag "discussion[recipient_tokens]", params[:id]
  %p
    = f.fields_for :messages do |j|
      = j.label :body
      %br
      = j.text_area :body

  %p= f.submit "Отправить"
