<div class="expander parent">
  <div class="expander-header clearfix university">
    <a href="" class="blue-collapse icon expand"></a>
    <%= link_to image_tag(@university.logo.url(:icon)), "", :class => "logo" %>

    <h4>
      <%= link_to truncate(@university.name, :length => 160), "" %>
    </h4>
    <div class="expander-actions">
      <a class="expand-all icon expand"></a>
      <a class="green-expand icon"></a>
      <a class="dred-cross icon"></a>
    </div>
  </div>

  <div class="expander-content node">

    <% @university.subjects.each do |sub| %>
       <div class="expander-subject parent">

         <div class="gray-box">
           <a class="blue-collapse icon expand"></a>
           <a href="#" class="expand"><%= sub.name %></a>
           <div class="expander-actions">
             <a class="expand-all icon expand"></a>
             <a class="folder-plus icon"></a>
             <a class="file-plus icon"></a>
             <a class="dred-cross icon"></a>
           </div>
         </div>

        <div class="level-1 clearfix node">
          <% sub.folders.top.each do |folder| %>
            <%= render "shared/folder", :folder => folder, :univer => @university %>
          <% end %>
          <% sub.documents.each do |doc| %>
            <%= render 'shared/file_row', :document => doc %>
          <% end %>
        </div>

       </div>
    <% end %>

    <div class="level-1 clearfix node">
      <% @university.folders.top.unsubjected.each do |folder| %>
        <%= render "shared/folder", :folder => folder, :univer => @university %>
      <% end %>
      <% @university.documents.unfolded.each do |doc| %>
	<%= render 'shared/file_row', :document => doc %>
      <% end %>
    </div>
  </div>
</div>

