<p class="gray-box clearfix">
  Рейтинг:
  <span style="float: right;"><%= user.raiting %></span>
</p>

<div class="place clearfix">
  <% if user.overall_rating.present? %>
    <span>
      <span>место</span>
      <b><%= user.overall_rating %></b>
    </span>
    <span>- в общем ТОПе</span>
  <% end %>
</div>

<% user.user_universities.order('rating DESC').each do |uu| %>
  <div class="place <%= uu.in_top? ? 'gray-box clearfix' : 'clearfix' %>">
    <span>
      <%== university_rating_2(uu.rating) %>
    </span>
    <span>- <%= uu.university.abbreviation %></span>
  </div>
<% end %>
