<div class="search-form-container clearfix search-with-filters">
      <div>
        <%= form_tag users_path, :method => :get, :class => "search-form" do %>
          <h2>
            <a href="" class="icon flag2"></a>
            <span id="univer_filter_text">Все ВУЗы</span>
            <%= link_to "", search_universities_path(:search => ""), :class => "icon green-btn-expnd", :remote => true %>
            <%= link_to "", "", :class => "icon green-btn-close", :id => "clear-subject-filter" %>
          </h2>

          <%= text_field_tag :search, params[:search], :placeholder =>  "Введите имя пользователя", :id => "search" %>
          <%= hidden_field_tag(:univer_filter, "") %>


          <button id="search_button" class="button blue-button">Найти</button>
        <% end %>
      </div>
</div>

<ul class="users-list">
  <% @users.each do |user| %>
    <li>
      <div class="expander-header">
        <span class="rating place-rating">
          <%= star_image(user.rank) %>
        </span>

        <%= link_to image_tag(user.avatar.url(:icon)), user_path(user), :class => "avatar" %>

        <h4>
          <%= link_to user_name(user), user_path(user) %>
        </h4>

        <div>
          <%= user.created_at.strftime("%d.%m.%Y") %>
        </div>

        <div class="det-rating">
          Рейтинг <br />
          <b><%= user.rating %></b>
        </div>

        <div class="files-counter">
          Файлов <%= user.documents.count %>
        </div>

        <div class="place">
	  <% if user.top_university.present? %>
            <span class="university-place rating">
	      <%== university_rating(user.top_university_rating) %>
            </span>
	    <h4><%= link_to user.top_university.abbreviation, university_folders_path(user.top_university) %></h4>
	  <% end %>
        </div>
      </div>
    </li>
  <% end %>
</ul>

<div class="pagination">
    <span>Страница:</span>
    <%= will_paginate @users, :previous_label => raw("&larr; <span>Ctrl</span>"),
      :next_label => raw("<span>Ctrl</span> &rarr;"), :container => false  %>
</div>

<% if current_user %>
  <% content_for :sidebar do %>
    <h3>Ваша позиция</h3>
    <%= link_to user_name, user_path(current_user) %>
    <%= render "rating", :user => current_user %>
    <div class="gray-box gray-notification">
      <p>
	Ваш рейтинг - это суммарный рейтинг всех ваших файлов
      </p>
    </div>
  <% end %>
<% end %>
