<div>
    <h2><%= t("unsorted_documents") %></h2>
    <ul>
    <% @user.documents.unsorted.each do |file| %>
      <li> 
        <b style="color: green"><%= file.item_processed %></b>
          <%= file.name %> | <%= file.item.url %>
      </li>
    <% end %>
    </ul>
</div>
<%= link_to "Добавить файлы", new_user_document_path(current_user) %> <br />
<%= link_to "Добавить ВУЗ", user_universities_path(current_user) %>

<ul>
<% @user.universities.each do |univer| %>
  <li>
    <%= univer.name %> | <%= link_to "Добавить предмет", university_subjects_path(univer) %>
    <ul>
      <% univer.subjects.each do |subject| %>
        <li><%= subject.name %></li>
      <% end %>
    </ul>
  </li>
<% end %>
</ul>

