<div>
    <h2><%= t("unsorted_documents") %></h2>
    <ul>
    <% @user.documents.unsorted.each do |file| %>
      <li><%= file.name %> | <%= file.item.url %></li>
    <% end %>
    </ul>
</div>
<%= link_to "Добавить файлы", new_user_document_path(current_user) %> <br />
<%= link_to "Добавить ВУЗ", new_university_path(current_user) %>

<ul>
<% @user.universities.each do |univer| %>
  <li><%= univer.name %></li>
<% end %>
</ul>

