<%= render "shared/search_from_file" %>

<div class="yellow-notification notification closable">
  <a class="close icon"></a>
  <div>
    <p>
      Несортированные файлы не отображаются в общем каталоге, но доступны другим пользователям для скачивания с вашей страницы.
    </p>
  </div>
</div>

<div class="expander parent">

       <div class="expander-header university">
         <a class="blue-collapse icon expand"></a>
         <a href="#" class="icon flag2"></a>
         <h4>
           <a href="#"><%= t("unsorted_documents") %></a>
         </h4>
         <div class="expander-actions">
           <%= link_to "", "", :class => "expand-all expand icon" %>
           <%= link_to "", "", :class => "folder-plus icon" %>
	   <% if current_user %>
             <%= link_to "", new_user_document_path(current_user), :class => "file-plus icon" %>
	   <% end %>
         </div>
       </div>

       <div class="expander-content node">
            <div class="level-1 clearfix node <%== 'my-files' if @user == current_user %>">

	      <% @user.folders.unsorted.each do |folder| %>
                <%= render "shared/folder_nude", :folder => folder %>
              <% end %>

              <% @user.documents.unfolded.each do |document| %>
                <%= render "shared/file_row", :document => document %>
              <% end %>

            </div>
       <% if @user == current_user %>
         <%= link_to "Добавить файлы", new_user_document_path(current_user), :class => "button green-button" %>
       <% end %>

       </div>

</div>

<div class="yellow-notification notification closable">
  <a class="close icon"></a>
  <div>
    <p>
      Чтобы добавить файлы в общий каталог:
    </p>
    <ul class="unordered-list">
    	<li>Добавьте ВУЗ с помощью кнопки ниже;</li>
    	<li>Добавьте предмет;</li>
    	<li>Загрузите файлы со своего компьютера или перетащите их мышкой из несортированных.</li>
    </ul>
  </div>
</div>


<% @user.universities.each do | univer | %>

    <div class="expander parent <%== 'usered' if @user == current_user %>">
      <div class="expander-header clearfix university">

        <a href="" class="blue-collapse icon expand"></a>
        <%= link_to image_tag(univer.logo.url(:icon)), "", :class => "logo" %>

        <h4>
          <%= link_to truncate(univer.name, :length => 160), "" %>
        </h4>
        <div class="expander-actions">
          <a class="expand-all icon expand"></a>
          <% if can? :add_subject, univer %>
            <%= link_to "", university_subjects_path(univer), :class => "green-expand icon", :remote => true %>
          <% end %>
          <a class="dred-cross icon"></a>
        </div>
      </div>

      <div class="expander-content node">

        <% @user.university_subjects(univer).each do |sub| %>
           <div class="expander-subject parent">

             <div class="gray-box">
               <a class="blue-collapse icon expand"></a>
               <a href="#" class="expand"><%= sub.name %></a>
               <div class="expander-actions">
                 <a class="expand-all icon expand"></a>
                 <a class="folder-plus icon"></a>
                 <a class="file-plus icon"></a>
                 <a class="dred-cross icon"></a>
               </div>
             </div>

            <div class="level-1 clearfix node <%== 'my-files' if @user == current_user %>">
              <% sub.folders.top.where(:user_id => @user.id).each do |folder| %>
                <%= render "shared/folder", :folder => folder, :univer => univer %>
              <% end %>
            </div>

           </div>
        <% end %>

        <div class="level-1 clearfix node">
          <% univer.folders.top.where(:user_id => @user.id).each do |folder| %>
            <%= render "shared/folder", :folder => folder, :univer => univer %>
          <% end %>
        </div>

        <% if can? :add_subject, univer %>
          <%= link_to "Добавить предмет", university_subjects_path(univer), :class => "button green-button", :remote => true %>
        <% end %>

      </div>
    </div>

<% end %>

<% content_for :sidebar do %>
  <%= render "detailed", :user => @user %>
<% end %>

<% if @user == current_user %>
  <%= link_to "Добавить ВУЗ", universities_path, :class => "button green-button", :remote => true %>
<% end %>
