<%= render "shared/search_from_file" %>

<% if show_notify(1) %>
  <div class="yellow-notification notification closable">
    <%= link_close_notify(1) %>
    <div>
      <p>
	Несортированные файлы не отображаются в общем каталоге, но доступны другим пользователям для скачивания с вашей страницы.
      </p>
    </div>
  </div>
<% end %>

<%= form_tag move_folder_path, :class => "mover-form" do %>

<input type="hidden" name="destination" value="" >

<div class="expander parent">

       <div class="expander-header university">
         <a class="blue-collapse icon expand"></a>
         <a href="#" class="icon flag2"></a>
         <h4>
           <a href="#"><%= t("unsorted_documents") %></a>
         </h4>
         <div class="expander-actions">
           <%= link_to "", "", :class => "expand-all expand icon" %>
	   <% if current_user %>
             <%= link_to "", new_folder_path, :class => "folder-plus icon" %>
             <%= link_to "", new_user_document_path(current_user), :class => "file-plus icon" %>
	   <% end %>
         </div>
       </div>

       <div class="expander-content node">
            <div class="level-1 clearfix node <%== 'my-files' if @user == current_user %>">

	      <% @user.folders.unsorted.each do |folder| %>
                <%= render "shared/folder_nude", :folder => folder %>
              <% end %>

              <% @user.documents.unsorted.unfolded.each do |document| %>
                <%= render "shared/file_row", :document => document %>
              <% end %>

            </div>
       <% if @user == current_user %>
         <%= link_to "Добавить файлы", new_user_document_path(current_user), :class => "button green-button" %>
       <% end %>

       </div>

</div>
<% end %>
<% if show_notify(2) %>
  <div class="yellow-notification notification closable">
    <%= link_close_notify(2) %>
    <div>
      <p>
	Чтобы добавить файлы в общий каталог:
      </p>
      <ul class="unordered-list">
    	<li>Добавьте ВУЗ с помощью кнопки ниже;</li>
    	<li>Добавьте предмет;</li>
    	<li>Загрузите файлы со своего компьютера или перетащите их мышкой из несортированных.</li>
      </ul>
    </div>
  </div>
<% end %>

<% @user.universities.each do | univer | %>

<%= form_tag move_folder_path, :class => "mover-form"  do %>
<input type="hidden" name="destination" value="" >

    <div class="expander parent <%== 'usered' if @user == current_user %>">
      <div class="expander-header clearfix university">

        <a href="" class="blue-collapse icon expand"></a>
        <%= link_to image_tag(univer.logo.url(:icon)), "", :class => "logo" %>

        <h4>
          <%= link_to truncate(univer.name, :length => 160), "" %>
        </h4>
        <div class="expander-actions">
          <a class="expand-all icon expand"></a>
          <%= render "shared/university_actions", :univer => univer %>
        </div>
      </div>

      <div class="expander-content node">

        <% @user.university_subjects(univer).each do |sub| %>
           <div class="expander-subject parent">

             <div class="gray-box">
               <a class="blue-collapse icon expand"></a>
               <a href="#" class="expand"><%= sub.name %></a>
               <div class="expander-actions">
                 <a class="expand-all icon expand"></a>
                 <%= link_to "", new_folder_path(:subject => sub, :university => univer), :class => "folder-plus icon" %>
                 <%= link_to "", new_user_document_path(current_user, :subject => sub, :university => univer), :class => "file-plus icon" %>
                 <a class="dred-cross icon"></a>
               </div>
             </div>

            <div class="level-1 clearfix node <%== 'my-files' if @user == current_user %>">
              <% sub.folders.top.where(:user_id => @user.id).each do |folder| %>
                <%= render "shared/folder", :folder => folder, :univer => univer %>
              <% end %>

              <% sub.documents.unfolded.each do |document| %>
                <%= render "shared/file_row", :document => document %>
              <% end %>
            </div>

           </div>
        <% end %>

        <div class="level-1 clearfix node <%== 'my-files' if @user == current_user %>">
          <% univer.folders.unsubjected.top.where(:user_id => @user.id).each do |folder| %>
            <%= render "shared/folder", :folder => folder, :univer => univer %>
          <% end %>
        </div>

        <% if can? :add_subject, univer %>
          <%= link_to "Добавить предмет", university_subjects_path(univer), :class => "button green-button", :remote => true %>
        <% end %>

      </div>
    </div>
  <% end %>

<% end %>

<% content_for :sidebar do %>
  <%= render "detailed", :user => @user %>
<% end %>

<% if @user == current_user %>
  <%= link_to "Добавить ВУЗ", search_universities_path(:search => ""), :class => "button green-button", :remote => true %>
<% end %>

