<%= render "shared/univer-search" %>

<div class="expander parent">

       <div class="expander-header university">
         <a class="blue-collapse icon expand"></a>
         <a href="#" class="icon flag2"></a>
         <h4>
           <a href="#"><%= t("unsorted_documents") %></a>
         </h4>
         <div class="expander-actions">
           <%= link_to "", "", :class => "expand-all expand icon" %>
           <%= link_to "", "", :class => "folder-plus icon" %>
           <%= link_to "", "", :class => "file-plus icon" %>
         </div>
       </div>

       <div class="expander-content node">
            <div class="level-1 clearfix node">

              <% @user.folders.unsorted.each do |folder| %>
                <%= render "shared/folder", :folder => folder %>
              <% end %>

              <% @user.documents.unfolded.each do |document| %>
                <%= render "shared/file_row", :document => document %>
              <% end %>

            </div>
       </div>

</div>


    <div class="expander parent">
      <div class="expander-header clearfix university">

        <a href="" class="blue-collapse icon expand"></a>
        <%= link_to image_tag(@user.university.logo.url(:icon)), "", :class => "logo" %>

        <h4>
          <%= link_to truncate(@user.university.name, :length => 160), "" %>
        </h4>
        <div class="expander-actions">
          <a class="expand-all icon expand"></a>
          <a class="green-expand icon"></a>
          <a class="dred-cross icon"></a>
        </div>
      </div>

      <div class="expander-content node">

        <% @user.university.subjects.each do |sub| %>
           <div class="expander-subject parent">

             <div class="gray-box">
               <a class="blue-collapse icon expand"></a>
               <a href="#" class="expand"><%= sub.name %></a>
               <div class="expander-actions">
                 <a class="expand-all icon expand"></a>
                 <a class="folder-plus icon"></a>
                 <a class="file-plus icon"></a>
                 <a class="dred-cross icon"></a>
               </div>
             </div>

            <div class="level-1 clearfix node">
              <% sub.folders.top.each do |folder| %>
                <%= render "shared/folder", :folder => folder, :univer => @user.university %>
              <% end %>
              <% sub.documents.each do |doc| %>
                <%= render 'shared/file_row', :document => doc %>
              <% end %>
            </div>

           </div>
        <% end %>

        <div class="level-1 clearfix node">
          <% @user.university.folders.top.each do |folder| %>
            <%= render "shared/folder", :folder => folder %>
          <% end %>
        </div>

        <%= link_to "Добавить предмет", university_subjects_path(@user.university), :class => "button green-button" %>

      </div>
    </div>



<% content_for :sidebar do %>
  <%= render "detailed", :user => @user %>
<% end %>

<%= link_to "Написать личное сообщение", new_discussion_path(:id => @user.id)%><br/>
<% if current_user %>
  <%= link_to "Добавить файлы", new_user_document_path(current_user) %> <br />
  <%= link_to "Добавить ВУЗ", user_universities_path(current_user), :class => "button green-button" %>
<% end %>
