<div id="chat-contacts">
  <h3>Ваши собеседники</h3>
  <ul id="contacts-list">
    <% current_user.all_senders.each do |sender| %>
      <li>
        <%= image_tag sender.avatar.url(:icon), :class => "avatar" %>
      	<div>
	  <%= link_to user_name(sender), discussion_messages_path(Discussion.find_between_users(current_user, sender)) %>
	  <% if Discussion.find_between_users(current_user, sender).has_unread?(current_user) %>
	    <span id="inbox-notify" class="has-messages">
	      <%= link_to messages_by_user(sender), discussion_messages_path(Discussion.find_between_users(current_user, sender)), :class => "messages-counter" %>
	    </span>
	  <% else %>
	    <%= link_to messages_by_user(sender), discussion_messages_path(Discussion.find_between_users(current_user, sender)), :class => "messages-counter" %>
	  <% end %>
          <%= link_to "Профиль пользователя", user_path(sender) %>
      	</div>
      </li>
    <% end %>
  </ul>
</div>
