<div class="file-row clearfix">
  <%= check_box_tag "document_ids[]", document.id, false, :class => "mover-checkbox" %>
  <span class="file-row-rating"><%= rating(document) %></span>
  <span class="file-row-icons">
    <%= document_rater(document) %>
    <%= extension_icon_link(document) %>
  </span>

  <span class="file-row-title">
    <span class="file-row-actions">
      <% if can? :manage, document %>
        <%= link_to "", edit_document_path(document), :class => "edit icon", :title => "Редактировать #{document.name}" %>
      <% end %>
      <%= link_to "", download_document_path(document), :class => "download icon", :title => "Скачать #{document.name}" %>
      <% if can? :manage, document %>
        <%= link_to "", document_path(document), :class => "dred-cross icon", :title => "Удалить#{document.name}", :method => :delete %>
      <% end %>
    </span>

    <% if document.has_preview? %>
      <%= link_to truncate(document.name, :length => 42, :omission => ""), document_path(document),
	  :title => "Предпросмотр #{document.name}", :class => "popup-preview" %>
    <% else %>
            <%= link_to truncate(document.name, :length => 42, :omission => ""), "#" %>
    <% end %>

  </span>
  <span class="file-row-size"><%= number_to_human_size(document.item_file_size) %></span>

  <span class="file-row-date"><%= document.created_at.strftime("%d.%m.%Y") %></span>

  <span class="file-row-user"><%= link_to truncate(document.user.nickname, :length => 17, :omission => ""), user_path(document.user) if document.user %></span>

  <p class="file-row-previews"></p>
</div>
