<div class="file-row clearfix">
  <%= check_box_tag "document_ids[]", document.id, false, :class => "mover-checkbox" %>
  <span class="file-row-rating"><%= rating(document) %></span>
  <span class="file-row-icons">
    <%= document_rater(document) %>
    <%= extension_icon_link(document) %>
  </span>

  <span class="file-row-title">
    <span class="file-row-actions">
      <%= render "shared/file_actions", :document => document %>
    </span>
  <span class="file-row-size"><%= number_to_human_size(document.item_file_size) %></span>

  <span class="file-row-date"><%= document.created_at.strftime("%d.%m.%Y") %></span>

  <span class="file-row-user"><%= link_to truncate(document.user.nickname, :length => 17, :omission => ""), user_path(document.user) if document.user %></span>

  <div class="file-row-previews" id="document-<%= document.id %>">
    <% if document.description %>
      <p class="short-desc">
        <%= truncate(document.description, :length => 93, :omission => "") %>
        <% if document.description.length > 93 %>
          <a href="">...</a>
          </p>
          <p class="full-desc">
          <%= document.description %><a href=""></a>
        <% end %>
      </p>
    <% end %>
  </div>
</div>
