<div class="file-row clearfix folder-row parent">
  <span class="file-row-rating"><%= rating(folder) %></span>

     <span class="file-row-icons">
       <%= link_to "", "", :class => "folder-full icon expand" %>
     </span>

     <span class="file-row-title">
       <span class="file-row-actions">
	 <%= link_to "", university_folder_path(univer, folder), :class => "flag icon",
	     :title => "Открыть #{folder.name}", :target => '_blank' %>
         <%= link_to "", download_folder_path(folder), :class => "download icon", :title => "Скачать #{folder.name}" %>
       </span>
       <%= link_to folder.name, "#", :class => "expand", :title => "Раскрыть #{folder.name}" %>
     </span>

     <span class="file-row-size"><%= folder.files_count %></span>

     <span class="file-row-date"><%= folder.created_at.strftime("%d.%m.%Y") %></span>

     <span class="file-row-user"><%= link_to truncate(folder.user.nickname, :length => 17, :omission => ""), user_path(folder.user) if folder.user %></span> <!-- FIXME -->

     <p class="file-row-previews"></p>

     <div class="<%== "level-#{folder.level+1}" %> clearfix node">
       <% folder.documents.each do |document| %>
         <%= render "shared/file_row", :document => document %>
       <% end %>
       <% folder.children.each do |node_folder| %>
         <%= render "shared/folder", :folder => node_folder, :univer => univer %>
       <% end %>
     </div>
</div>




