<div class="file-row clearfix folder-row parent">
  <span class="file-row-rating"><%= rating(folder) %></span>

     <span class="file-row-icons">
       <%= link_to "", "", :class => "folder-full icon expand" %>
     </span>

     <span class="file-row-title">
       <span class="file-row-actions">
         <% if can? :manage, folder %>
           <%= link_to "", edit_folder_path(folder), :class => "edit icon", :title => "Редактировать #{folder.name}", :remote => true %>
            <%= link_to "", "", :value => folder.id, :class => "slate icon action-link" %>
         <% end %>
	 <%= link_to "", "#", :class => "flag icon",
	     :title => "Открыть #{folder.name}", :target => '_blank' %>
         <%= link_to "", download_folder_path(folder), :class => "download icon", :title => "Скачать #{folder.name}" %>
         <% if can? :manage, folder %>
            <%= link_to "", new_folder_path(:parent_id => folder.id, :university => folder.university, :subject => folder.subject), :class => "folder-plus icon" %>
            <%= link_to "", new_user_document_path(current_user, :folder => folder, :subject => folder.subject, :university => folder.university), :class => "file-plus icon" %>
            <%= link_to "", "", :class => "dred-cross icon" %>
          <% end %>
       </span>
       <%= link_to folder.name, "#", :class => "expand", :title => "Раскрыть #{folder.name}" %>
     </span>

     <span class="file-row-size">
        <%= "#{folder.files_count} #{ t(:file, :count => folder.files_count)}" %>
     </span>

     <span class="file-row-date"><%= folder.created_at.strftime("%d.%m.%Y") %></span>

     <span class="file-row-user"><%= link_to truncate(folder.user.nickname, :length => 17, :omission => ""), user_path(folder.user) if folder.user %></span> <!-- FIXME -->

     <p class="file-row-previews"></p>

     <div class="<%== "level-#{folder.level}" %> clearfix node">
       <% folder.documents.each do |document| %>
         <%= render "shared/file_row", :document => document %>
       <% end %>
       <% folder.children.each do |node_folder| %>
         <%= render "shared/folder_nude", :folder => node_folder %>
       <% end %>
     </div>
</div>




