<div class="file-row clearfix folder-row parent">
     <span class="file-row-rating">0</span>

     <span class="file-row-icons">
       <%= link_to "", "", :class => "folder-full icon expand" %>
     </span>

     <span class="file-row-title">
       <span class="file-row-actions">
         <a href="#" class="flag icon"></a>
         <%= link_to "", download_folder_path(folder), :class => "download icon", :title => "Скачать" %>
       </span>
       <a href="#" class="expand"><%= folder.name %></a>
     </span>

     <span class="file-row-size"><%= folder.files_count %></span>

     <span class="file-row-date"><%= folder.created_at.strftime("%d.%m.%Y") %></span>

     <span class="file-row-user"><a href="#">Иван Иваныч</a></span>

     <p class="file-row-previews"></p>

     <div class="<%== "level-#{folder.level+1}" %> clearfix node">

        <% folder.children.each do |node_folder| %>
            <%= render "shared/folder", :folder => node_folder %>
        <% end %>

        <% folder.documents.each do |document| %>
          <%= render "shared/file_row", :document => document %>
        <% end %>
     </div>

</div>




