<% sort = sort ? sort : '' %>
<div class="file-row clearfix folder-row parent">
  <%= check_box_tag "folder_ids[]", folder.id, false, :class => "mover-checkbox" %>
  <span class="file-row-rating"><%= rating(folder) %></span>

     <span class="file-row-icons">
       <%= link_to "", "", :class => "folder-full icon expand" %>
     </span>

     <span class="file-row-title">
       <span class="file-row-actions">
          <%= render "shared/folder_actions", :folder => folder %>
       </span>
       <%= link_to folder.name, "#", :class => "expand", :title => "Раскрыть #{folder.name}" %>
     </span>

     <span class="file-row-size">
        <%= "#{folder.files_count} #{ t(:file, :count => folder.files_count)}" %>
     </span>

     <span class="file-row-date"><%= folder.created_at.strftime("%d.%m.%Y") %></span>

     <span class="file-row-user"><%= link_to truncate(folder.user.nickname, :length => 17, :omission => ""), user_path(folder.user) if folder.user %></span> <!-- FIXME -->

     <div class="file-row-previews" id="folder-<%= folder.id %>"></div>

     <div class="<%== "level-#{folder.level}" %> clearfix node">
       <% folder.documents.order(sort).each do |document| %>
         <%= render "shared/file_row", :document => document %>
       <% end %>
       <% folder.children.order(sort).each do |node_folder| %>
         <%= render "shared/folder", :folder => node_folder, :univer => univer, :sort => sort %>
       <% end %>
     </div>
</div>




