<div id="header">
  <% if current_user %>
    <%= render 'shared/user-bar' %>
  <% else %>
    <%= render 'shared/login-bar' %>
  <% end %>

  <div class="nav-bar">
    <div class="logo-box">
      <%= image_tag "logo.png", :alt => "StudyFiles" %>
      <div class="about-logo">
        Учебные материалы.<br />
        Все предметы. Все ВУЗы
      </div>
    </div>
    <ul class="nav">

      <li class="<%= 'current' if controller_name =~ /universities/ %>">
        <%= link_to t("universities"), universities_path %>
      </li>
      <li class="<%= 'current' if controller_name =~ /documents/ %>">
<%= link_to "Файлы", files_path %>
      </li>
      <% if current_user %>
        <li class="<%= 'current' if current_page?(:controller => "users", :action => "show", :id => current_user.id) rescue ''%>">
          <%= link_to t("my_documents"), user_path(current_user) %>
        </li>
      <% end %>
      <%# FIXME %>
      <li class="<%= 'current' if  current_page?(:controller => "users", :action => "index") rescue ''%>">
<%= link_to t("users"), users_path %></li>

    </ul>
  </div>
</div>
