<%= form_for @file,  :url => documents_path, :html => { :multipart => true, :method => :post } do |f| %>
  <fieldset class="column span-18">
    <p class="column span-14">
      <%= f.label :name, "Имя файла" %>
      <%= f.text_field :name, :id => 'title' %>
    </p>
    <p class="column span-14">
      <%= f.label :description, "Описание файла" %>

      <%= f.text_field :description %>
    </p>
    <p class="column span-14">
      <%= f.label :item, "Загрузите файл" %>
      <%= f.file_field :item %>

    </p>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <p class="column prepend-6 span-8">

      <button type="submit" class="btn primary" title="Загрузить файл">Загрузить</button>
    </p>
  </fieldset>
<% end %>