<%= form_tag user_documents_path, :multipart => true, :action => 'create' do %>

<% @files.each_with_index do |file, index| %>
  <%= fields_for "documents[#{index}]", file do |f| %>
    <p><%= f.text_field :name %></p>
    <p><%= f.file_field :item %></p>
  <% end %>
<% end %>
  <%= submit_tag %>
<% end %>

<!--
<%#= form_for [@user, @file],  :url => user_documents_path, :html => { :multipart => true, :method => :post } do |f| %>
  <fieldset class="column span-18">
    <p class="column span-14">
      <%#= f.label :name, "Имя файла" %>
      <%#= f.text_field :name, :id => 'title' %>
    </p>
    <p class="column span-14">
      <%#= f.label :description, "Описание файла" %>

      <%#= f.text_field :description %>
    </p>
    <p class="column span-14">
      <%#= f.label :item, "Загрузите файл" %>
      <%#= f.file_field :item %>

    </p>
    <p class="column prepend-6 span-8">

      <button type="submit" class="btn primary" title="Загрузить файл">Загрузить</button>
    </p>
  </fieldset>
<#% end %>-->
