<div id="universalUploader" >
<noscript>Place standard form with file input here for users who have disabled JS in browser.<br/>
Form snippet:<br/>
<form id="myform" name="myform" action="url to file processing script"  method="post" enctype="multipart/form-data">
<input name="Filedata" type="file"><br>
<input type="submit" value="Upload" />
</form>
 </noscript>
</div>

<%= form_tag :id => "ids" do %>
<% end %>

<script type="text/javascript">

universalUploader.init({
	uploaders: "drag-and-drop",
	singleUploader : true,
        renderTabHeader: false,
	holder: "universalUploader",
	width: "400",
	height: "300",
	//Url to file processing script
        url: "<%= user_documents_url %>",
        postFields :{
          <%= "subject : #{@subject.id}," if @subject %>
          <%= "university : #{@university.id}," if @university %>
          <%= "folder : #{@folder.id},"  if @folder %>
          <%= "authenticity_token : '#{form_authenticity_token}'" %>
        },
});

</script>


