<%= nested_form_for @user, :url => user_documents_url,  :method => "post",  :multipart => true do |f| %>

  <div id="documents">
    <%= f.fields_for :documents, @documents do |builder| %>
      <%= render "documents/form", :f => builder %>
    <% end %>
  </div>
 <p><%= f.link_to_add "Добавить файл", :documents %></p>

  <%= submit_tag "Загрузить" %>
<% end %>
