<%= form_tag user_documents_path, :multipart => true, :action => 'create' do %>

  <div id="documents">
    <!-- FIXME -->
    <%= render :partial => "document", :collection => @documents %>
  </div>
  
  <%= submit_tag %>
  <%= link_to "Добавить ещё", "#", :id => "addDocument" %>
<% end %>


<script type="text/javascript" language="javascript" charset="utf-8">
//<![CDATA[
  
  $(function() {
      $("#addDocument").click(function() {
           $("#documents").append('<%= escape_javascript(render :partial => "document", :object => Document.new ) %>');
      });
  });
//]]>
</script>
