<%= sort_link @search, :rating, "По рейтингу" %>
<% @universities.each do |univer| %>

  <% if !univer.documents.empty? || !univer.folders.empty? %>
  <div class="expander parent">
    <div class="expander-header clearfix university">
      <span class="rating">
        <%= rating(univer) %>
      </span>
      <a href="" class="blue-collapse icon expand"></a>
      <%= link_to image_tag(univer.logo.url(:icon)), "", :class => "logo" %>

      <h4>
	<%= link_to "#{univer.abbreviation} #{truncate(univer.name, :length => 160)}", "" %>
      </h4>
      <div class="expander-actions">
	<a class="expand-all icon expand"></a>
        <%= render "shared/university_actions", :univer => univer %>
      </div>
    </div>

    <div class="expander-content node">
      <% univer.subjects.each do |sub| %>
	<div class="expander-subject parent">
          <div class="gray-box">
            <a class="blue-collapse icon expand"></a>
            <a href="#" class="expand"><%= sub.name %></a>
            <div class="expander-actions">
              <a class="expand-all icon expand"></a>
            </div>
          </div>

          <div class="level-1 clearfix node">
            <% sub.folders.top.each do |folder| %>
              <%= render "shared/folder", :folder => folder, :univer => univer %>
            <% end %>
            <% sub.documents.unfolded.each do |doc| %>
              <%= render 'shared/file_row', :document => doc %>
            <% end %>
          </div>

	</div>
      <% end %>

      <div class="level-1 clearfix node">
	<% univer.folders.top.unsubjected.each do |folder| %>
          <%= render "shared/folder", :folder => folder, :univer => univer %>
	<% end %>
	<% univer.documents.unfolded.unsubjected.each do |doc| %>
	  <%= render 'shared/file_row', :document => doc %>
	<% end %>
      </div>
    </div>
  </div>
  <% end %>
<% end %>

<% content_for :sidebar do %>
  <%= render "shared/sidebar" %>
<% end %>
