<div class="search-form-container clearfix search-with-filters">
      <div>
        <h2>
          <a href="" class="icon flag2"></a>
          Все ВУЗы
          <a href="" class="icon green-btn-expnd"></a>
          <a href="" class="icon green-btn-close"></a>
        </h2>
        <%= form_tag search_files_path, :method => :get, :class => "search-form" do %>
            <%= text_field_tag :search, params[:search], :placeholder =>  "Введите название или описания файла или папки", :id => "search" %>
          <button id="search_button" class="button blue-button">
            Найти
          </button>
        <% end %>
      </div>
</div>
<%= link_to "по рейтингу", files_path(:sort => @sort.blank? ? 'rating DESC' : (@sort == 'rating DESC' ? 'rating ASC' : 'rating DESC')) %>
<!-- <%= link_to "по рейтингу", files_path(:sort => 'rating DESC') %> -->
<% @universities.each do |univer| %>
  <% if !univer.documents.empty? || !univer.folders.empty? %>
  <div class="expander parent">
    <div class="expander-header clearfix university">
      <span class="rating">
        <%= rating(univer) %>
      </span>
      <a href="" class="blue-collapse icon expand"></a>
      <%= link_to image_tag(univer.logo.url(:icon)), "", :class => "logo" %>
      <h4>
	<%= link_to "#{univer.abbreviation} #{truncate(univer.name, :length => 160)}", "" %>
      </h4>
      <div class="expander-actions">
	<a class="expand-all icon expand"></a>
      </div>
    </div>
    <div class="expander-content node">
      <% univer.subjects.each do |sub| %>
	<div class="expander-subject parent">
          <div class="gray-box">
            <a class="blue-collapse icon expand"></a>
            <a href="#" class="expand"><%= sub.name %></a>
            <div class="expander-actions">
              <a class="expand-all icon expand"></a>
            </div>
          </div>

          <div class="level-1 clearfix node">
            <% sub.folders.top.order(@sort).each do |folder| %>
              <%= render "shared/folder", :folder => folder, :univer => univer, :sort => @sort %>
            <% end %>
            <% sub.documents.unfolded.order(@sort).each do |doc| %>
              <%= render 'shared/file_row', :document => doc %>
            <% end %>
          </div>

	</div>
      <% end %>

      <div class="level-1 clearfix node">
	<% univer.folders.top.unsubjected.each do |folder| %>
          <%= render "shared/folder", :folder => folder, :univer => univer %>
	<% end %>
	<% univer.documents.unfolded.unsubjected.each do |doc| %>
	  <%= render 'shared/file_row', :document => doc %>
	<% end %>
      </div>
    </div>
  </div>
  <% end %>
<% end %>

<% content_for :sidebar do %>
  <%= render "shared/sidebar" %>
<% end %>
