<div class="content">
  <span>Выберите предмет</span>
  <!-- FIXME -->
    <div class="search-form">
      <div class="search-right-form">
        <div class="search-form-body">
          <div class="search-word">
            <%= t("search") %>
          </div>
          <div class="search-form">
            <%= form_tag university_subjects_path, :method => :get do %>
                <%= text_field_tag :search, params[:search], :placeholdr =>  "Введите название ВУЗа или предмета", :id => "subject_filter" %>
              <button id="search">
                &nbsp;
              </button>
            <% end %>
            <div class="search-statistic">
              <%= search_statistic %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!-- FIXME -->
  <ul>
  <% @subjects.each do |subject| %>
    <li>
      <%= subject.name %>
      <% if can? :edit, subject %>
	<%= link_to "Редактировать #{subject.name}", edit_university_subject_path(@university, subject) %>
      <% end %>
    </li>
  <% end %>
  </ul>

  <%= link_to "Создать новый", new_university_subject_path(@univesity) %>

</div>
