<% if can? :new, Novelty %>
  <%= link_to "Добавить новость", new_novelty_path, :class => "button green-button", :id => "add-news" %>
<% end %>

<h2>Новости</h2>

<% @news.each do |novelty| %>
  <div class="news-item clearfix">
    <h4><%= link_to novelty.title, "#" %></h4>

    <p><%= novelty.text %></p>

    <div>
      <span class="news-date"><%= l novelty.created_at, :format => "%d %B %Y" %></span>
      <% if can? :manage, novelty %>
          <%= form_for novelty, :url => novelty_path(novelty), :html => {:method => :put, :id => "form_novelty_#{novelty.id}"} do |f| %>
              <%= link_to "", edit_novelty_path(novelty), :class => "edit icon", :title => "Редактировать" %>
              <%= f.check_box :main, :class => "styled" %>
              <%= f.label :main, 'На главной', :class => "checkboxed" %>
          <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<div class="pagination">
    <span>Страница:</span>
    <%= will_paginate @news, :previous_label => raw("&larr; <span>Ctrl</span>"),
      :next_label => raw("<span>Ctrl</span> &rarr;"), :container => false  %>
</div>

