<div class="modal-window" id="univer-chooser-modal">
  <h3>Выберите ВУЗ</h3>

  <div class="search-form-container without-button-search minimal-search">

        <div>
            <%= link_to "Добавить", new_university_path(current_user), :class => "button blue-button popuper", :remote => true, :title => "Cоздать новый" %>
          <%= form_tag search_universities_path, :method => :get, :remote => true, :class => "search-form" do %>
            <div class="clearable-container">
              <%= text_field_tag :search, params[:search], :placeholder =>  "Фильтр ...", :id => "univer_modal_search_form", :class => "clearable" %>
              <a class="clearer icon"></a>
            </div>
          <% end %>
        </div>
  </div>

  <div class="modal-scroller">
      <%= render "universities/modal_search_results", :universities => universities %>
  </div>

  <a href="#" class="close-modal">
    <%= image_tag("close-modal.png") %>
  </a>
</div>
