<%= render 'shared/sidebar' %>
<div class="content">
  <%= "Выберите ВУЗ" if @user %>
  <%= render 'shared/univer-search' %>
  <ul>
  <% @universities.each do |univer| %>
    <li>
      <%= link_to univer.name, documents_path(:university => univer) %>
    </li>
  <% end %>
  </ul>
  <%= link_to "Создать новый", new_university_path(current_user) %>
</div>
