<% content_for :sidebar do %>
  <%= render 'shared/sidebar' %>
<% end %>

  <%= render 'shared/univer-search' %>
  <ul class="cities-list">
    <li>
      <ul class="universities-list">
        <% @universities.each do |univer| %>

          <li class="clearfix">

            <%= link_to image_tag(univer.logo.url(:thumb)), university_folders_path(univer), :class => "university-logo" %>

            <div class="university-short-info">
              <h4>
                <%= link_to univer.full_title, university_folders_path(univer) %>
                <% if can? :edit, univer %>
                  <%= link_to "", edit_university_path(univer), :title => "Редактировать #{univer.abbreviation}", :class => "icon edit"   %>
                <% end %>
              </h4>

              <ul class="subjects-list">
                  <% univer.subjects.first(4).each do |sub| %>
                    <li>
                      <%= link_to sub.name, university_subject_path(univer, sub) %>
                    </li>
                  <% end %>
                  <li><%= link_to "...", "#", :class => "expand-subjects-list", :title => "Раскрыть #{univer.abbreviation}" %></li>
              </ul>

              <ul class="expanded-subjects-list">

                <% univer.sections.each do |section| %>
                  <li>
                    <h5><%= section.name %></h5>
                    <dl>
                      <dt></dt>
                      <dd>
                        <%= link_to section.name, university_subject_path(univer, section) %>
                        <% if can? :edit, section %>
                          <%= link_to "", edit_university_subject_path(univer, section), :title => "Редактировать #{section.name}", :class => "icon edit"   %>
                        <% end %>
                      </dd>

                      <% section.subjects.each do |sub| %>
                        <dt>
                          <%= sub.abbreviation %>
                        </dt>
                        <dd>
                          <%= link_to sub.name, university_subject_path(univer, sub) %>
                          <% if can? :edit, sub %>
                            <%= link_to "", edit_university_subject_path(univer, sub), :title => "Редактировать #{sub.name}", :class => "icon edit"   %>
                          <% end %>
                        </dd>
                      <% end %>
                    </dl>
                  </li>
                <% end %>

              </ul>

              <p>
                <span class="rating"><%= rating(univer) %></span>
                <span class="statistics">
                  <%= univer.stats %>
                </span>
              </p>

            </div>

          </li>
        <% end %>
      </ul>
    </li>
  </ul>


  <div class="pagination">
      <span>Страница:</span>

      <%= will_paginate @universities, :previous_label => raw("&larr; <span>Ctrl</span>"),
        :next_label => raw("<span>Ctrl</span> &rarr;"), :container => false  %>

  </div>


