<h2>Обратная связь</h2>
<%= form_for :feedback, :url => feedback_path do |f| %>
  <dl class="form-list">
    <dt><%= f.label :name, "Имя" %></dt>
    <dd><%= f.text_field :name %></dd>

    <dt><%= f.label :email, "E-mail" %></dt>
    <dd><%= f.email_field :email %></dd>

    <dt><%= f.label :message, "Ваше сообщение" %></dt>
    <dd><%= f.text_area :message, :cols => 60, :rows => 10 %></dd>

  </dl>
  <div class="gray-box submit-box">
    <%= f.submit "Отправить", :class => "button green-button" %>
  </div>
<% end %>
