<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8" />
  <title>Studyfiles</title>
  <link rel="icon" type="image/image/vnd.microsoft.icon" href="/images/favi.ico" />
  <%= stylesheet_link_tag "style.css", "forms.css", "tree.css", "jquery-ui.css" %>
  <%= javascript_include_tag "application", "jquery-ui", "nested_form", "cookies" %>
  <%= csrf_meta_tag %>
</head>

<body <%== "class='logged-in'" if current_user %>>
<div class="alert-message warning"><%= notice %></div>
<div class="alert-message error"><%= alert %></div>

<div class="wrapper clearfix">

  <%= render 'shared/header' %>

  <div class="sidebar">
    <%= yield :sidebar %>
  </div>

  <div class="center">

    <div class="content two-col">
      <%= yield %>
    </div>

  </div>

  <div id="push"></div>
</div>

  <%= render 'shared/footer' %>

</body>
<script>
  $(function() {
    setInterval(function() {
        if( $.cookie('download_finished') == "true" ) {
          $.cookie('download_finished', null);
          location.reload();
        }
    }, 200);
  })
</script>
</html>
