<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8" />
  <title>Studyfiles</title>
  <link rel="icon" type="image/image/vnd.microsoft.icon" href="/images/favi.ico" />
  <%= stylesheet_link_tag "style.css", "forms.css", "tree.css", "jquery-ui.css" %>
  <%= javascript_include_tag "jquery", "jquery-ui", "application", "nested_form", "files" %>
  <%= csrf_meta_tag %>
</head>
<body>
<div class="alert-message warning"><%= notice %></div>
<div class="alert-message error"><%= alert %></div>

<div class="wrapper clearfix">

  <%= render 'shared/header' %>

  <div class="center">

    <div class="content two-col">
      <%= yield %>
    </div>

    <div class="sidebar">
      <%= yield :sidebar %>
    </div>
  </div>

</div>

  <%= render 'shared/footer' %>

</body>
</html>
