<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8" />
  <title>Studyfiles</title>
  <link rel="icon" type="image/image/vnd.microsoft.icon" href="/images/favi.ico" />
  <%= stylesheet_link_tag "/stylesheets/style.css"%>
  <%= javascript_include_tag "jquery", "jquery-ui", "application" %>
  <%= csrf_meta_tag %>
</head>
<body>
<div class="alert-message warning"><%= notice %></div>
<div class="alert-message error"><%= alert %></div>
<div class="wraper">
  <%= render 'shared/header' %>
  <%= yield %>
  <%= render 'shared/footer' %>
</div>


</body>
</html>
