<h2>Настройки пользователя</h2>
<%= form_for :user, :url => account_path, :html => {:method => :put} do |f| %>
  <dl class="form-list">
    <dt><%= f.label :name, "Имя и фамилия" %></dt>
    <dd>
      <div class="clearable-container">
        <%= f.text_field :name, :style => "width: 440px;", :class => "clearable" %>
        <a class="clearer icon"></a>
      </div>
    </dd>

    <dt></dt>
    <dd>
      <div id="logo-previews">
        <%= image_tag @user.avatar.url(:medium), :class => "avatar" %>
        <%= image_tag @user.avatar.url(:thumb), :class => "avatar" %>
        <%= image_tag @user.avatar.url(:icon), :class => "avatar" %>
      </div>
    </dd>

    <dt><%= f.label :avatar, "Аватар, фото" %></dt>
    <dd>
      <div class="fakeupload">
          <input type="text" name="fakeupload"  style="width: 225px;" /> <!-- browse button is here as background -->
          <span class="button blue-button">Выбрать</span>
          <%= f.file_field :avatar %>
      </div>
    </dd>

    <dt></dt>
    <dd>
      <%= f.check_box :subscriber, :class => "styled" %>
      <%= f.label :subscriber, " Высылать уведомления о личных сообщениях на email", :class => "checkboxed" %>
    </dd>
  </dl>

  <div class="gray-box submit-box" style="padding-bottom: 5px;">
    <dl class="form-list">
      <dt></dt>
      <dd><%= f.submit "Сохранить", :class => "button green-button" %></dd>
    </dl>
  </div>
<% end %>


<h2 style="font-size: 1.8em">Смена пароля</h2>
<%= form_for :user, :url => account_path, :html => { :method => :put } do |f| %>
  <dl class="form-list">

    <dt><%= f.label :current_password, "Старый пароль" %></dt>
    <dd><%= f.password_field :current_password %></dd>

    <dt><%= f.label :password, "Новый пароль" %></dt>
    <dd><%= f.password_field :password %></dd>

    <dt></dt>
    <dd><%= f.submit "Сменить пароль", :class => "button vblue-button" %></dd>
<% end %>

<% content_for :sidebar do %>
  <%= render "users/stats", :user => @user %>
<% end %>
